.mainFormContainer {
    display: flex;
    justify-content: center;

}

.usersTableContainer {
    position: absolute;
    bottom: 25px;
    width: 450px;
    background-color: #fff;
    border-radius: 8px;
    padding: 0 25px 0 25px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    font-size:18px;

    @media only screen and (max-width: 800px) {
      width: 100%;
    }
}
