body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

.inputContainer, .inputContainerError {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  align-items: center;
  height: 39px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 8px 0 8px 0;

  input {
    opacity: 0.4;
  }
  input:focus {
    outline: none;
  }
  input:focus::placeholder {
    color: #01d302;
  }
}

.inputContainerError {
  border: 1px solid rgba(255, 0, 0, 0.4);
  color: red;
  background-color: #f7f7f7;

  input {
    opacity: 1;
    color: red;
  }

  input:focus {
    color: #000;
  }
  .icon {
    opacity: 0.6;
  }
}

.inputContainerError:focus-within {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.inputContainer:focus-within, .inputContainerError:focus-within  {
  color: #01d302;
  background-color: #f7f7f7;

  input:invalid {
    border-color: red;
  }
  .icon {
    opacity: 0.6;
  }
  input {
    background-color: white;
    opacity: 1;
  }
  input:invalid {
    border-color: red;
  }
}

.icon {
  opacity: 0.1;
  margin: 0 7px 0 7px;
}

.input-field {
  width: 100%;
  padding-left: 5px;

  :focus {
    outline: none;
  }
}

.formContainer {
  display: grid;
  background-color: #fff;
  border-radius: 8px;
  padding: 0 25px 0 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* for Internet Explorer */
  -webkit-transform: translate(-50%, -50%); /* for Chrome, Safari, Opera */
  padding: 0 25px 0 25px;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  font-size:18px;

  input {
    line-height: 35px;
    margin: 8px 0 8px 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
  }

  @media only screen and (max-width: 800px) {
    width: 100%;
  }

}

.nameInputs {
  display: flex;

  .inputContainer:first-child {
    margin-right: 4px;
    width: 100%;
  }
  .inputContainer:last-child  {
    margin-left: 4px;
    width: 100%;
  }
}

.formHeader {
  display: flex;
  justify-content: space-between;

  // I hate using negative margin usually, but for the sake of the design I have made so far this is my decision
  margin-bottom: -20px;
  
  img {
    width: 105px;
    position: relative;
    bottom: 50px;
  }
}

.termsAndConditionsContainer {
  display: flex;
  margin: 15px 0 15px 0;

  label {
    font-size: 12px;
    padding-top: 2px;
  }
} 

.termsAndConditionsCheckbox {
  position: absolute;
  opacity: 0;
}

.termsAndConditionsCheckbox:not(:checked) + label:after,
.termsAndConditionsCheckbox:checked + label:after {
  font-weight:900;                    
}

.termsAndConditionsCheckbox:not(:checked) + label,
.termsAndConditionsCheckbox:checked + label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}

/* imitates checkbox */
.termsAndConditionsCheckbox:not(:checked) + label:before,
.termsAndConditionsCheckbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  width: 17px; 
  height: 17px;
  border: 1px solid #000;
  opacity: 0.1;
  border-radius: 5px;
}

/* FontAwesome check sign */
.termsAndConditionsCheckbox:not(:checked) + label:after,
.termsAndConditionsCheckbox:checked + label:after {
  font-family: "Font Awesome 5 Free"; 
  content: "\f00c";        
  font-weight:900;                    
  position: absolute;
  top: 3px; 
  left: 3px;
  font-size: 13px;
  color: #01d302;
}

.termsAndConditionsCheckbox:not(:checked) + label:after {
  opacity: 0;
}
.termsAndConditionsCheckbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

label:hover:before {
  opacity: 0.3 !important;
}

.submitButton {
  color: white;
  background-color : #00c201;
  border-radius: 18px;
  font-size: 18px;
  padding: 7px;
  
}

.submitButton:hover {
  background-color : #01d302;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.errorMsg {
  color: red;
  width: auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  white-space: nowrap;
}
